.container {
    margin: 30px 0 0 350px;
    padding: 0px;
    border: 4.8px;
    max-width: 250px;
}

.col-sm-2 {
    padding-top: 23px;
}

h2 {
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;

    color: black;
    padding: auto;
    margin: 0 auto;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    color: 135, 135, 135;
    font-weight: 100;
}

img {
    height: 80px;
    width: 80px;
}

.weather-temperature strong {
    color: #e8eaed;
    font-size: 70px;
    line-height: 1;
    font-weight: 400;
    vertical-align: top;

}

.weather-temperature .units {
    position: relative;
    font-size: 16px;
    top: -20px;

    color: #e8eaed;
    display: inline-block;

    line-height: 26px;
}
.weather-temperature.active.hover{
    
    text-decoration: none;
}
.weather-forecast{
    margin-top:20px;
   text-align: center;
    color: black;
  

}


.weather-forecast-date{
font-size: 15px;
opacity: 0.5;
}
.weather-forecast-temperature-min {
    opacity: 0.5;
}
.weather-forecast-temperatures{
    font-size: 13px;
  
}

